@import "../variables";

.alertError{
    display: none;
}

.alertErrorActive{
    font-size: 0.8rem;
    margin-top: 10px;
    display: block;
    color: $error;
}

.error{
    border: 1px solid $error;
}
