@import "../variables";

.alertError{
    display: none;
}

.alertErrorActive{
    font-size: 0.8rem;
    margin-top: 10px;
    display: block;
    color: $red;
}

.recoverPassword{
    font-size: 0.8rem;
    margin-top: 10px;
    color: rgb(37, 37, 37);
    font-weight: 500;
    cursor: pointer;
}

.recoverPassword:active{
    color: rgb(37, 37, 37);
    font-weight: 600;
}

.error{ 
    border: 1px solid $red;
}
