h3{
    text-align: start;
    margin-left: 0.5rem;
    color: rgba(75, 75, 75, 0.805);
    font-size: 1rem;
    font-weight: 600;
    margin:0.5rem 0.4rem;
    margin-top: 0.7rem;
}

.title h2{
    font-size: 2.64rem;
    font-weight: 600;
}

.title p{
    color: grey;
    font-weight: 500;
}