<div class="container">
    <div class="field">
        <div class="title">
            <h2>Crie sua Conta</h2>
            <p>Inicie sua jornada de conhecimentos com o Study.</p>
        </div>
        <div class="containerInputs">
            <div>
                <h3>Nome</h3>
                <div class="boxInput">
                    <input type="text" placeholder="Nome">
                    <img src="../../../assets/image/person.png" alt="imagem-input" >
                </div>
            </div>
            <div>
                <h3>Email</h3>
                <div class="boxInput">
                    <input type="text" placeholder="Email">
                    <img src="../../../assets/image/email.png" alt="imagem-input" >
                </div>
            </div>
            <div>
                <h3>Senha</h3>
                <div class="boxInput">
                    <input type="password" placeholder="Senha">
                    <img src="../../../assets/image/lock.png" alt="imagem-input" >
                </div>
            </div>
        </div>
        <div class="boxButton">
            <button routerLink="">Cadastrar</button>
        </div>
    </div>
    <div class="containImage">
    </div>
</div>