@import "../../../scss/variables";

.navBar{
    background-color: #338cf5;
    color: $white;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.25);
}

.containerMenu{
    max-width: 6rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.containerLogo{
    max-width: 8rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;  
}

.containerLogo img{
    width: 30px;
}

.containerNavBar{
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    height: 60px;
}

.gear{
    width: 30px;
    cursor: pointer;
}

.tilteNav{
    color: $white;
    font-weight: 400;
}

app-nav-menu{
    position: absolute;
} 