@import "../../scss/variables";

header{
    background-color: #338cf5;
}

.tilteSchedule {
    display: inline;
    color: $white;
}

.containerMenu{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}





